/* Grabbed from NYT Connections site */
/* Styling should look the same as https://www.nytimes.com/games/connections */
:root {
    --yellow: #f9df6d;
    --green: #a0c35a;
    --blue: #b0c4ef;
    --purple: #ba81c5;
    --main-game-color: #b4a8ff;
    --selected-color: #5a594e;
    --incorrect-color: #5a594ebf;
    --light-grey: #d4d4d4;
    --grey: #e2e2e2;
    --ui-grey: #7f7f7f;
    --item-grey: #efefe6;
    --top-section-desktop-height: 233.5px;
    --top-section-mobile-height: 46px;
    --contrast-yellow: #f9df6d;
    --contrast-green: #a0c35a;
    --contrast-blue: #b0c4ef;
    --contrast-purple: #ba81c5;
    --group-0-color: var(--yellow);
    --group-1-color: var(--green);
    --group-2-color: var(--blue);
    --group-3-color: var(--purple);
}

body{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border: 2px solid black;
}

@media (min-width: 768px){
    .game-container{
        width: 42%;
        display: grid;
        grid-template-columns: repeat(4, minmax(100px, 175px));
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: .5rem;
    }
}
/* Boxes of words */
.text-box{
        background-color: var(--item-grey);
        border-radius: .3em;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 900;
        font-size: 1.2rem;
        font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;

}
/* When a word box is selected */
.clicked{
    background-color: var(--selected-color);
    color: white;
}
/* Update and Delete context menu on right click */
.right-click-menu{
    position: fixed;
    z-index: 10000;
    width: 150px;
    background: lightgrey;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
}
/* Once right click menu is opened */
.right-click-menu.visible{
    transform: scale(1);
    transition: transform 100ms ease-in-out;
}
/* Options in right click menu (update and delete */
.right-click-option{
    padding: 8px 10px;
    font-size: 15px;
    color: black;
    cursor: pointer;
    border-radius: inherit;
}
/* Hover over right click menu options */
.right-click-option:hover{
background: #343434;
}
/* Form to add new words */
#new-word-form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

